@import 'slider/editable-slider';

.customizer {
  flex: 1;
  display: grid;
  grid-template: 1fr 0.5fr / repeat(7, 1fr);
  grid-gap: 1em 1em;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  padding-bottom: 2em;

  .card {
    background: #FFEDE5;
  }

  .customizer-element {
    margin: 0;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  > .top {
    grid-column: 1 / 8;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;

    .sliders {
      flex: 1 1 40%;
    }

    .image {  
      flex: 1 1 60%;

      .svg-container {
        position: relative;
        max-width: 256px;
        margin: 0 auto;
        
        svg {
          width: 100%;
        }
        
        .bubble-filter {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: url('img/bubble-filter.png') center/cover no-repeat;
          opacity: 0.7;
          will-change: filter;
        }
      }
    }
  }

  .description {
    grid-column: 1 / 6;
  }

  .actions {
    grid-column: 6 / 8;

    h2 {
      margin: 0;
    }

    button {
      margin: 1.5em 0 1em;
    }

    .success {
      margin-top: 1em;
      font-size: 1.25em;

      span {
        margin-right: 1em;
      }
      
      .button {
        display: inline-block;
        font-size: 0.8em;
      }
    }
  }

  @media all and (max-width: 700px) {
    margin-top: 1em;
    grid-template: 1fr 0.3fr 0.4fr / 1fr;

    .top {
      flex-direction: column;
      grid-column: 1 / 2;

      .image {
        margin-top: 1em;
      }
    }

    .top, .description, .actions {
      grid-column: 1 / 2;
    }

    .description {
      grid-row: 2 / 3;
    }

    .actions {
      grid-row: 3 / 4;
    }
  }

  input[type=range] {
    display: block;
    -webkit-appearance: none;
    width: 100%;
    height: 2.5em;
    background: transparent;
    font-size: 1em;

    &:focus {
      outline: none;

      &::-webkit-slider-thumb {
        background-color: $lightTheme;
      }
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 2em;
      width: 2em;
      margin-top: -0.75em;
      z-index: 2;
      border-radius: 1em;
      border: 3px solid $lightTheme;	
      background: url('img/mug.svg') center/60% 60% no-repeat $lightestTheme;
      cursor: pointer;

      &:hover {
        background-color: $lightTheme;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 0.5em;
      background: $darkTheme;
      border-radius: 0.25em;
      cursor: pointer;
    }

    &::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
}