.material-input {
  display: block;
  position: relative;
  margin: 2em 0 0; }
  .material-input label {
    position: absolute;
    display: block;
    color: #777777;
    top: 1em;
    left: 0;
    transform: none;
    transform-origin: bottom left;
    transition: color 0.25s ease-out, transform 0.25s ease-out;
    text-transform: capitalize; }
  .material-input input {
    width: 100%;
    border-width: 0 0 2px 0;
    border-color: #888888;
    background: transparent;
    padding: 0.6em 0 0.5em;
    font-family: inherit;
    font-size: 1.1em; }
    .material-input input:focus, .material-input input:hover {
      border-color: #0D47A1;
      outline: none; }
    .material-input input:focus + label, .material-input input.active + label {
      color: #17252A;
      transform: translateY(-2.1em) scale(0.8); }
  .material-input.inline {
    display: inline-block;
    margin: 2em 1em 0; }
    .material-input.inline input {
      max-width: 200px; }
  .material-input.large > input {
    font-size: 1.25em;
    font-weight: 700; }

button:not(.select-dropdown), .button {
  text-transform: uppercase;
  font: inherit;
  padding: 0.25em 0.5em;
  border-radius: 2px;
  border: none;
  color: #0D47A1;
  letter-spacing: 0.5px;
  cursor: pointer; }
  button:not(.select-dropdown):not(.inline), .button:not(.inline) {
    background: #0D47A1;
    color: #FFFFFF;
    padding: 0.5em 1em;
    margin: 2em 0 1em; }
  button:not(.select-dropdown):disabled, .button:disabled {
    color: #666666;
    cursor: default; }
  button:not(.select-dropdown):not(:disabled):hover, button:not(.select-dropdown):not(:disabled):focus, .button:not(:disabled):hover, .button:not(:disabled):focus {
    background: #03A9F4; }
    button:not(.select-dropdown):not(:disabled):hover.inline, button:not(.select-dropdown):not(:disabled):focus.inline, .button:not(:disabled):hover.inline, .button:not(:disabled):focus.inline {
      background: #EAEAEA; }
  button:not(.select-dropdown).large, .button.large {
    font-size: 1.2em; }

.form-base {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1em; }
  .form-base button {
    flex: 0 0 auto;
    margin: 1em 0 0 1em; }
  .form-base .success {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    font-size: 1.25em; }
    .form-base .success .button {
      font-size: 0.8em;
      margin-left: 1em; }

.material-select {
  position: relative;
  font-size: 1.1em;
  min-width: 150px; }
  .material-select .select-dropdown {
    width: 100%;
    padding: 0.5em 2em 0.5em 0;
    background: none;
    border: none;
    border-bottom: 2px solid #03A9F4;
    font: inherit;
    font-weight: 500;
    text-align: left;
    cursor: pointer; }
    .material-select .select-dropdown:hover {
      color: #0D47A1; }
    .material-select .select-dropdown:focus {
      outline: none; }
  .material-select .select-options {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0.4em 0;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.5);
    list-style: none;
    background: #FFFFFF;
    cursor: pointer; }
    .material-select .select-options .select-option {
      padding: 0.5em 0.25em 0.5em 1em; }
      .material-select .select-options .select-option.selected {
        color: #0D47A1; }
      .material-select .select-options .select-option:hover {
        background: #EAEAEA; }
    .material-select .select-options.visible {
      display: block; }
  .material-select .material-icons {
    position: absolute;
    right: 0;
    top: 0.35em;
    vertical-align: middle; }

.card.customization-table {
  padding: 0;
  width: 100%; }
  .card.customization-table .customization-line {
    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF; }
    .card.customization-table .customization-line h2 {
      margin: 0; }
    .card.customization-table .customization-line .button {
      margin: 0 0 0 1em; }
    .card.customization-table .customization-line:not(:first-of-type) {
      border-top: 1px solid #DDDDDD; }

.auth {
  padding: 2em; }
  .auth .auth-form {
    max-width: 500px;
    margin: 0 auto; }
  .auth .auth-link {
    margin-top: 1em;
    text-align: center;
    font-size: 0.9em; }
    .auth .auth-link a {
      color: #0D47A1; }

.editable-slider {
  margin-top: 1em; }
  .editable-slider .slider-label {
    display: flex;
    justify-content: space-between; }
    .editable-slider .slider-label .customize-btn {
      color: #0D47A1;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      border-radius: 2px; }
      .editable-slider .slider-label .customize-btn:hover, .editable-slider .slider-label .customize-btn:focus {
        background: #EAEAEA; }
  .editable-slider form {
    max-height: 0;
    overflow: hidden;
    padding: 0 1em;
    transition: max-height 0.3s ease; }
    .editable-slider form.active {
      max-height: 40em; }
  .editable-slider .slider-buttons {
    text-align: right; }
    .editable-slider .slider-buttons > button {
      margin-top: 1.5em; }
      .editable-slider .slider-buttons > button:first-of-type {
        margin-right: 1.5em; }

.customizer {
  flex: 1;
  display: grid;
  grid-template: 1fr 0.5fr/repeat(7, 1fr);
  grid-gap: 1em 1em;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  padding-bottom: 2em; }
  .customizer .customizer-sliders {
    grid-column: 1 / 4; }
  .customizer .customizer-image {
    grid-column: 4 / 8; }
  .customizer .customizer-description {
    grid-column: 1 / 6; }
  .customizer .customizer-actions {
    grid-column: 6 / 8; }
    .customizer .customizer-actions h2 {
      margin: 0; }
  @media all and (max-width: 700px) {
    .customizer {
      grid-template: 1fr 1.5fr 0.8fr 0.5fr / 1fr; }
      .customizer > .customizer-sliders, .customizer .customizer-image, .customizer .customizer-description, .customizer .customizer-actions {
        grid-column: 1 / 2; }
      .customizer .customizer-description {
        grid-row: 3 / 4; }
      .customizer .customizer-actions {
        grid-row: 4 / 5; } }
  .customizer > .card {
    margin: 0;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .customizer input[type=range] {
    display: block;
    -webkit-appearance: none;
    width: 100%;
    height: 2.5em;
    background: transparent;
    font-size: 1em; }
    .customizer input[type=range]:focus {
      outline: none; }
      .customizer input[type=range]:focus::-webkit-slider-thumb {
        background-color: #EAEAEA; }
    .customizer input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 2em;
      width: 2em;
      margin-top: -0.75em;
      z-index: 2;
      border-radius: 1em;
      border: 3px solid #03A9F4;
      background: url("img/mug.svg") center/60% 60% no-repeat #03A9F4;
      cursor: pointer; }
      .customizer input[type=range]::-webkit-slider-thumb:hover {
        background-color: #EAEAEA; }
    .customizer input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 0.5em;
      background: #0D47A1;
      border-radius: 0.25em;
      cursor: pointer; }
    .customizer input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }

.account-details p {
  margin: 0 0 1em; }
  .account-details p > span {
    font-weight: 700; }

.loading {
  margin-top: 0.4em; }

.account-actions {
  text-align: right; }
  .account-actions button {
    margin-bottom: 0; }
    .account-actions button:nth-of-type(2) {
      margin-left: 1em; }

p {
  margin: 0; }

.intro-steps {
  display: grid;
  grid-template: 1fr / 1fr 2em 1fr 2em 1fr;
  grid-gap: 1em 1em;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 2em;
  align-items: center; }
  @media all and (max-width: 880px) and (min-width: 551px) {
    .intro-steps {
      grid-template: 1fr 1fr/repeat(4, 1fr);
      grid-gap: 2em 2em; }
      .intro-steps .step {
        grid-row: 1; }
        .intro-steps .step.hardware {
          grid-column: 1 / span 2; }
        .intro-steps .step.make {
          grid-column: 3 / span 2; }
        .intro-steps .step.brand {
          grid-row: 2;
          grid-column: 2 / 4; }
      .intro-steps .step-next {
        display: none; } }
  @media all and (max-width: 550px) {
    .intro-steps {
      grid-template: repeat(3, 1fr)/1fr;
      max-width: 20em; }
      .intro-steps .step-next {
        display: none; } }
  .intro-steps .step {
    width: 100%;
    min-width: 15em;
    margin: 0; }
    .intro-steps .step > .step-flex {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .intro-steps .step > .step-flex .step-image {
        height: 12em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.4em; }
        .intro-steps .step > .step-flex .step-image .step-complete, .intro-steps .step > .step-flex .step-image .step-incomplete {
          color: #0D960D;
          font-size: 4em; }
        .intro-steps .step > .step-flex .step-image .step-incomplete {
          color: red; }
    .intro-steps .step.hardware .step-image {
      background: #c91d1d; }
    .intro-steps .step.make .step-image {
      background: darkblue; }
    .intro-steps .step.brand .step-image {
      background: darkorange; }
    .intro-steps .step.inactive .step-image {
      background: #AAAAAA; }
    .intro-steps .step .step-title {
      margin-top: 1em;
      text-align: center;
      font-weight: 700;
      font-size: 1.15em; }
  .intro-steps .step-next {
    font-size: 2em; }

.product .product-name {
  margin: 0 0 0.5em;
  font-size: 1.8em; }

.product .product-base {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1em; }
  .product .product-base label {
    margin: 0 0.4em 0 1.25em; }
  .product .product-base input {
    border: 2px solid transparent;
    border-bottom-color: #03A9F4;
    padding: 0 0.2em;
    width: 2em;
    font-family: inherit;
    font-size: 1.4em;
    font-weight: bold; }
    .product .product-base input:focus {
      outline: none;
      border-color: #03A9F4; }
  .product .product-base .product-add {
    margin: 1em 0 1em 1.5em; }

.price {
  font-size: 1.4em;
  font-weight: 700;
  color: #0D47A1; }

.basket .basket-actions-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }
  .basket .basket-actions-container .basket-actions {
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.1em; }
    .basket .basket-actions-container .basket-actions p {
      margin: 0;
      display: inline-block; }
      .basket .basket-actions-container .basket-actions p .price {
        margin-left: 0.2em; }
    .basket .basket-actions-container .basket-actions button {
      margin: 0 0 0 1.5em; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Rajdhani', sans-serif;
  background: #EAEAEA;
  color: #17252A;
  font-weight: 500; }

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  background: #03A9F4;
  color: #17252A; }
  header .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5em 0; }
    header .site-header .site-title {
      font-weight: 700;
      margin: 0; }
      header .site-header .site-title > .header-link {
        text-transform: uppercase; }
      header .site-header .site-title.mobile {
        display: none; }
      @media all and (max-width: 480px) {
        header .site-header .site-title {
          display: none; }
          header .site-header .site-title.mobile {
            display: block; } }
    header .site-header .header-link {
      color: inherit;
      cursor: pointer;
      white-space: nowrap;
      font-weight: 700; }
      header .site-header .header-link:not(:first-of-type) {
        margin-left: 1em; }
      header .site-header .header-link:hover {
        text-decoration: none;
        color: #333333; }

.page-content {
  flex: 1;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .page-content .title-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between; }
  .page-content .page-title.inline {
    display: inline-block; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #17252A; }

.card {
  max-width: 900px;
  width: 90%;
  margin: 2em auto;
  padding: 2em;
  background: #FEFFFF;
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgba(210, 210, 210, 0.5); }
  .card:first-of-type, .card .page-title, .card h2 {
    margin-top: 0; }

.loading {
  font-size: 2.5em; }
  .loading.spin {
    animation: spin 1.2s linear infinite; }

.error {
  margin: 0 0.5em 0 0;
  color: #E53935; }
  .error .material-icons {
    vertical-align: middle;
    margin-right: 0.25em; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
