$blue: #0277BD;
$pink: #FF4081;
$red: #D32F2F;
$green: #0D960D;
$white: #FFFFFF;
$greyF: #FEFFFF;
$greyE: #EAEAEA;
$greyD: #DDDDDD;
$greyA: #AAAAAA;
$grey8: #888888;
$grey7: #777777;
$grey6: #666666;
$grey3: #333333;
$black: #000000;
$darkGrey: #17252A;
$lightestTheme: $greyE;
$lightTheme: #03A9F4;
$darkTheme: #0D47A1;

@import 'components/components';
@import 'authentication/authentication';
@import 'admin/admin';
@import 'home/home';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  @extend html;
  font-family: 'Rajdhani', sans-serif;
  background: $greyE;
  color: $darkGrey;
  font-weight: 500;
}

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: auto;
}


header {
  background: $lightTheme;
  color: $darkGrey;

  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5em 0;
    
    .site-title {
      font-weight: 700;
      margin: 0;
      
      > .header-link {
        text-transform: uppercase;
        color: $darkGrey;
      }

      &.mobile {
        display: none;
      }

      @media all and (max-width: 700px) {
        display: none;
        &.mobile {
          display: block;
        }
      }
    }

    .menu-toggle {
      z-index: 100;
      cursor: pointer;
      font-size: 2em;
      transform: rotate(0deg);
      transition: transform 0.25s linear;
      
      &.active {
        transform: rotate(180deg);
      }
      
      @media all and (min-width: 481px) {
        display: none;
      }
    }

    nav {
      margin-left: 1em;
    
      .header-link {
        color: inherit;
        cursor: pointer;
        white-space: nowrap;
        font-weight: 700;
      }
      
      &.desktop {
        
        .header-link:not(:first-of-type) {
          margin-left: 1em;
        }

        .header-link:hover {
          text-decoration: none;
          color: $grey6;
        }
        
        @media all and (max-width: 480px) {
          display: none;
        }
      }
      
      &.mobile {
        display: none;
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        padding-top: 6em;
        background: $white;
        box-shadow: -4px 0px 10px rgba(210, 210, 210, 0.5);
        z-index: 99;
        transform: translateX(110%);
        transition: transform 0.25s ease;

        .header-link {
          padding: 1em 2em 1em 5em;
          display: block;
          text-align: right;

          &:first-of-type {
            border-top: 1px solid $greyD;
          }

          &:hover {
            text-decoration: none;            
            background: $greyE;
          }
        }
  
        @media all and (max-width: 480px) {
          display: block;

          &.active {
            transform: translateX(0);
          }
        }

      }
    }
  }
}

.page-content {
  flex: 1;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .title-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    .title-actions {
      display: flex;
      align-items: center;
      
      > button {
        margin: 0 0 0 1em;
      }
    }
  }

  .page-title {
    &.inline {
      display: inline-block;
    }
  }

  &.no-match {
    align-items: flex-start;
  }
}

a {
  text-decoration: none;
  color: $darkTheme;

  &:hover {
    color: $darkGrey
  }
}

.card {
  max-width: 900px;
  width: 90%;
  margin: 2em auto;
  padding: 2em;
  background: $greyF;
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgba(210, 210, 210, 0.5);

  &:first-of-type, .page-title, h2 {
    margin-top: 0;
  }

  > p.large {
    font-size: 1.1em;
  }
}

.loading {
  font-size: 2.5em;
  text-align: center;

  &.spin {
    animation: spin 1.2s linear infinite;
  }
}

.error {
  margin: 0 0.5em 0 0;
  color: $red;

  .material-icons {
    vertical-align: middle;
    margin-right: 0.25em;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}