$blue: #0277BD;
$pink: #FF4081;
$white: #FFFFFF;
$greyF: #FEFFFF;
$greyE: #EAEAEA;
$greyD: #DDDDDD;
$grey6: #666666;
$grey3: #333333;
$black: #000000;
$darkGrey: #17252A;
$lightestTheme: $greyE;
$lightTheme: #03A9F4;
$darkTheme: #0D47A1;

@import 'components/components';
@import 'authentication/authentication';
@import 'admin/admin';

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  @extend html;
  font-family: 'Rajdhani', sans-serif;
  background: $greyE;
  color: $darkGrey;
  font-weight: 500;
}

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background: $lightTheme;
  color: $darkGrey;

  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5em 0;
    
    .site-title {
      font-weight: 700;
      margin: 0;
      
      > .header-link {
        text-transform: uppercase;
      }

      &.mobile {
        display: none;
      }

      @media all and (max-width: 480px) {
        display: none;
        &.mobile {
          display: block;
        }
      }
    }
    
    .header-link {
      color: inherit;
      cursor: pointer;
      white-space: nowrap;
      font-weight: 700;

      &:not(:first-of-type) {
        margin-left: 1em;
      }

      &:hover {
        text-decoration: none;
        color: $grey3;
      }
    }
  }
}

.page-content {
  flex: 1;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $darkGrey
  }
}

.card {
  max-width: 900px;
  width: 90%;
  margin: 2em auto;
  padding: 2em;
  background: $greyF;
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgba(210, 210, 210, 0.5);

  &:first-of-type, .page-title {
    margin-top: 0;
  }
}

.loading {
  font-size: 2.5em;

  &.spin {
    animation: spin 1.2s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}