.account-header {
  width: 100%; }
  .account-header ul {
    width: 100%;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around; }

.account-details p {
  margin: 0 0 1em; }
  .account-details p > span {
    font-weight: 700; }

.account-actions {
  text-align: right; }
  .account-actions button {
    margin-bottom: 0; }
    .account-actions button:first-of-type {
      margin-right: 1em; }
