.account-details p {
  margin: 0 0 1em;
  
  > span {
    font-weight: 700;
  }
}

.loading {
  margin-top: 0.4em;
}

.form-base .account-actions {
  text-align: right;

  button {
    margin: 0;
    
    &:nth-of-type(2) {
      margin-left: 1em;
    }
  }
}

@import "welcome";
@import "intro/intro";