.auth {
  padding: 2em;

  .auth-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .auth-link {
    margin-top: 1em;
    text-align: center;
    font-size: 0.9em;

    a {
      color: $darkTheme;
    }
  }
}