@import 'customizer/customizer';
@import 'branding/branding';
@import 'user/user';
@import 'shop/shop';

  
.product-base {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  font-size: 1.1em;
  
  label {
    margin: 0 0.4em 0 1.25em;
  }
  
  .quantity-input {
    border: 2px solid transparent;
    border-bottom-color: $lightTheme;
    padding: 0 0.2em;
    width: 3em;
    font-family: inherit;
    font-size: 1.4em;
    font-weight: bold;
    
    &:focus {
      outline: none;
      border-color: $lightTheme;
    }
  }
  
  .product-add {
    margin: 1em 0 1em 1.5em;
  }
}