.branding {

  hr {
    margin-top: 1.5em;
  }

  .material-select {
    margin: 0 0 1em;
  }

  .title-bar {
    margin-bottom: 1em;
    
    .material-select {
      margin: 0 0 0 1em;
    }
  }
  
  .beer-name {
    display: inline-block;
    vertical-align: baseline;
    margin: 0.8em 2em 1em 0;
  }

  .beer-edit {
    .material-input {
      margin: 1em 2em 2em 0;
      width: 100%;
    }
    
    .material-textarea {
      margin-bottom: 0;
    }

    .form-base {
      margin-top: 0;
      justify-content: flex-end;
    }
  }

  .beer-facts {
    margin: 1em 0;
    padding-left: 2em;
    list-style-image: url("./img/mug.svg");

    > li {
      line-height: 1.5em;
      margin: 0.25em;

      .beer-colour {
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        vertical-align: middle;
        margin-left: 0.25em;
        border: 1px solid $darkGrey;
      }
    }
  }

  .beer-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    > .beer-image-options, .custom-image {
      margin-bottom: 0;
      flex: 1 1 0;
    }

    .custom-image {
      text-align: center;
      margin: 1em 0 1em 2em;
      max-width: 100%;
      
      > input {
        font: inherit;
      }

      > img {
        margin-top: 20px;
        max-width: 100%;
      }
    }

    .beer-image {
      flex: 1 1 0;
      min-width: 240px;
    }
  }
}