.material-input {
  display: block;
  position: relative;
  margin: 2em 0 0;

  label {
    position: absolute;
    display: block;
    color: $grey7;
    top: 1em;
    left: 0;
    transform: none;
    transform-origin: bottom left;
    transition: color 0.25s ease-out, transform 0.25s ease-out;
    text-transform: capitalize;
    cursor: text;
  }

  input, textarea {
    width: 100%;
    border-width: 0 0 2px 0;
    border-color: $grey8;
    background: transparent;
    padding: 0.6em 0 0.5em;
    font-family: inherit;
    font-size: 1.1em;
    height: 2.6em;
    transition: border-color 0.25s ease-out;
    
    &:focus, &:hover {
      border-color: $darkTheme;
      outline: none;
    }
   
    &.active + label {
      color: $darkGrey;
      transform: translateY(-2.1em) scale(0.8);
    }

    &:focus + label {
      color: $darkTheme;
      transform: translateY(-2.1em) scale(0.8);
    }
  }

  &.inline {
    display: inline-block;
    margin: 2em 1em 0;

    input {
      max-width: 200px;   
    }
  }

  &.large > input {
    font-size: 1.25em;
    font-weight: 700;
  }
}

.material-textarea {
  @extend .material-input;

  textarea {
    overflow: hidden;
    resize: none;
    min-height: 2.6em;
    
    ~ .hidden {
      position: absolute;
      top: 0;
      z-index: -1;
      padding-top: 1.2rem;
      padding: 0.6em 0 0.5em;
      font-size: 1.1em;
      visibility: hidden;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}

button:not(.select-dropdown), .button {
  display: inline-block;
  text-transform: uppercase;
  font: inherit;
  padding: 0.25em 0.5em;
  border-radius: 2px;
  border: none;
  color: $darkTheme;
  letter-spacing: 0.5px;
  cursor: pointer;

  &:not(.inline) {
    background: $darkTheme;
    color: $white;
    padding: 0.5em 1em;
  }

  // .material-icons {
  //   vertical-align: top;
  //   margin-left: 0.3em;
  //   color: $pink;
  // }

  &:disabled {
    color: $grey6;
    cursor: default;
  }
  

  &:not(:disabled):hover, &:not(:disabled):focus {
    background: $lightTheme; 
    
    &.inline {
      background: $lightestTheme;
    }
  }

  &.large {
    font-size: 1.2em;
  }
}

.form-base {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1em;

  button {
    flex: 0 0 auto;
    margin: 1em 0 0 1em;
  }

  .success {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    font-size: 1.25em;

    .button {
      font-size: 0.8em;
      margin-left: 1em;
    }
  }
}

.material-select {
  position: relative;
  font-size: 1.1em;
  min-width: 150px;
  
  .select-dropdown {
    width: 100%;
    padding: 0.5em 2em 0.5em 0;
    background: none;
    border: none;
    border-bottom: 2px solid $lightTheme;
    font: inherit;
    font-weight: 500;
    text-align: left;
    cursor: pointer;

    &:hover {
      color: $darkTheme;
    }

    &.open:focus {
      outline: none;
    }

  }

  .select-options {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0.4em 0;
    border: 1px solid $greyD;
    border-radius: 2px;
    box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.5);
    list-style: none;
    background: $white;
    z-index: 10;    
    cursor: pointer;

    .select-option {
      padding: 0.5em 0.25em 0.5em 1em;

      &.selected {
        color: $darkTheme;
      }

      &:hover {
        background: $greyE;
      }

      button {
        border: none;
        background: none;
        color: inherit;
        text-transform: none;
        padding: 0;
        letter-spacing: 0;
        display: inline;
        border-radius: 0;
        text-align: left;
      }
    }

    &.visible {
      display: block;
    }
  }

  .material-icons {
    position: absolute;
    right: 0;
    top: 0.35em;
    vertical-align: middle;
  }
}

@import 'customization-table/customization-table';