.intro {
  
  h2 {
    margin-top: 0;
  }

.intro-steps {
  display: grid;
  grid-template: 1fr / 1fr 2em 1fr 2em 1fr;
  grid-gap: 1em 1em;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 2em;
  align-items: center;

  @media all and (max-width: 880px) and (min-width: 551px) {
    grid-template: 1fr 1fr / repeat(4, 1fr);
    grid-gap: 2em 2em;

    .step {
      grid-row: 1;

      &.hardware {
        grid-column: 1 / span 2;
      }
      &.make {
        grid-column: 3 / span 2;
      }
      &.brand {
        grid-row: 2;
        grid-column: 2 / 4;
      }
    }

    .step-next {
      display: none;
    }
  }

  @media all and (max-width: 550px) {
    grid-template: repeat(3, 1fr) / 1fr;
    max-width: 20em;

    .step-next {
      display: none;
    }
  }

  .step {
    width: 100%;
    min-width: 15em;
    margin: 0;
    color: $darkGrey;
    
    > .step-flex {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .step-image {
        height: 10em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.4em;

        img {
          height: 0.9em;
        }
  
        .step-complete {
          color: $green;
          font-size: 6em;
        }
        
        .step-incomplete {
          @extend .step-complete;
          color: $red;
        }

        span {
          font-size: 2em;
        }
      }
    }

    &.inactive .step-image {
      background: #AAAAAA;
    }

    .step-title {
      margin-top: 1em;
      text-align: center;
      font-weight: 700;
      font-size: 1.15em;
    }
  }

  .step-next {
    font-size: 2em;
  }
}
}